<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public StarBoards | StarPlace - Unleashing Stellar Creativity</title>
    <meta property="og:title" content="Unleashing Stellar Creativity - StarPlace">
    <meta property="og:description" content="Unleashing Stellar Creativity | StarPlace">
    <meta property="og:image" content="/icons/StarPlace-Logo-1.png">
    <link rel="canonical" href="https://about:blank">
    <link rel="alternate" media="handheld" href="https://about:blank">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://about:blank">
    <link rel="icon" type="image/png" href="/icons/StarPlace-Logo-1.png">
    <meta name="description" content="Unleash your Stellar Creativity, with StarPlace - where communities come together!">
    <meta property="og:site_name" content="Unleashing Stellar Creativity - StarPlace">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="/css/rootStyles.css">
    <link rel="stylesheet" href="/css/boardStyles.css">
</head>
<body>
    <%- include('../partials/cookies') %>
    <div id="root">
        <div class="app_container">
            <%- include('../partials/header', { username: username, uid: uid }) %>
            <div class="boards_container">
                <div class="boards_header">
                    <h3>List of Public StarBoards</h3>
                </div>
            </div>
                <div class="boards_list">
                    <div class="boards">
                        <% for (const board of boards) { %>
                            <div class="board_container">
                                <span>
                                    <img src="<%- board.icon %>" alt="<%- board.name %>'s icon">
                                </span>
                                <div>
                                    <a href="star/<%- board %>">star/<%- board.name %></a>
                                    <p><%- board.description %></p>
                                    <p style="font-size: smaller;"><%- board.owner %></p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

    <!-- hi -->
</body>
</html>