<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unleashing Stellar Creativity | StarPlace</title>
    <meta property="og:title" content="Unleashing Stellar Creativity - StarPlace">
    <meta property="og:description" content="Unleashing Stellar Creativity | StarPlace">
    <meta property="og:image" content="/icons/StarPlace-Logo-1.png">
    <link rel="canonical" href="https://about:blank">
    <link rel="alternate" media="handheld" href="https://about:blank">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://about:blank">
    <link rel="icon" type="image/png" href="/icons/StarPlace-Logo-1.png">
    <meta name="description" content="Unleash your Stellar Creativity, with StarPlace - where communities come together!">
    <meta property="og:site_name" content="Unleashing Stellar Creativity - StarPlace">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="/css/userpagestyles.css">
    <link rel="stylesheet" href="/css/rootStyles.css">
</head>
<body>
    <%- include('../partials/cookies') %>
    <div id="root">
        <div class="app_container">
            <%- include('../partials/noscript') %>
            <%- include('../partials/header', { username: username }) %>
            <div class="profileBody">
                <div style="display: block;">
                    <div style="padding-top: 60px; padding-bottom: 0; padding-right: 0; padding-left: 0; margin-top: 0; margin-bottom: 24px; margin-right: 0; margin-left: 0;">
                        <% if(!foreignUser) { %>
                            <div></div>
                        <% } else { %>
                            <div class="foreignUser_notice">
                                <span>As this is an OAuth user, the shown information may be incomplete or out of sync.</span>
                            </div>
                        <% } %>
                        <div style="padding-top: 0; padding-bottom: 0; padding-right: 0; padding-left: 0; margin-top: 0; margin-bottom: 40px; margin-right: 16px; margin-left: 16px;">
                            <div class="profileImg">
                                <div class="outterProImg">
                                    <% if (pfp) { %>
                                        <img src="<%= pfp %>" style="border-radius: 50%; width: 128px; height: 128px; border: 2px solid black; object-fit: cover;">
                                    <% } else { %>
                                        <img src="/icons/StarPlace-Logo-1.png" style="border-radius: 50%; width: 178px; height: 178px; border: 2px solid black; object-fit: cover;">
                                    <% } %>
                                </div>
                            </div>
                            <div class="usernamePos">
                                <% if(!foreignUser) { %>
                                    <h1 style="margin-bottom: 2px;"><%= userpage %></h1>
                                <% } else { %>
                                    <h1 style="margin-bottom: 2px; color: #8086d4;"><%= userpage %></h1>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!--
                    <div class="gridz">
                        <for (const starboard of starboards)>
                            <div onclick="location.href='/star/< starboard.link >'">
                                <div class="slot">
                                    <div class="cover-art">
                                        <img class="cover-img" src="< starboard.cover >">
                                    </div>
                                    <div class="track-descriptors">
                                        <div class="track-desc">
                                            <div class="track-name">< starboard.name ></div>
                                            <div class="track-owner">< starboard.uploader ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        < } >
                    </div>
                -->
                <h4><%= userpage %> hasn't joined anywhere... yet!</h4>
            </div>
        </div>
    </div>
</body>
</html>